.navbarContainer{
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-16);
    position: relative;
    border-bottom: solid 1px var(--Neutral300);
}

.hamburgerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem; /* 10px */
    background-color: var(--Neutral300);
    border-radius: var(--radius-4);
}

.nav-list{
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0 var(--spacing-16);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--Neutral0);
    border-radius: var(--radius-8);
}

.nav-list-ul{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacing-8);
    margin: 0; 
    box-sizing: border-box;
    list-style: none; 
    width: 100%;
}

.li{
    font-family: var(--text-7-font);
    font-size: var(--text-7-size);
    width: 100%;
    padding-top: var(--spacing-12);
    padding-bottom: var(--spacing-12);
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-8);
}

.liButton{
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-8);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.liButton button{
    width: 100%;
    padding-top: var(--spacing-12);
    padding-bottom: var(--spacing-12);
    border-radius: var(--radius-10);
    background-color: var(--Neutral900);
    color: var(--Neutral0);
    border: none;
    font-family: var(--text-5-font);
    font-size: var(--text-5-size);
}