.sectionReady{
  background-color: var(--Neutral200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: var(--spacing-16);
  padding-right: var(--spacing-16);
  padding-bottom: var(--spacing-48);
  padding-top: var(--spacing-48);
  gap: var(--spacing-32);
  border-radius: var(--radius-16);
}

.sectionReady .p{
  font-family: var(--text-6-font);
  font-size: var(--text-6-size);
  font-weight: var(--text-6-weight);
  line-height: var(--text-6-line);
  letter-spacing: var(--text-6-spacing);
  color: var(--Neutral800);
  text-align: center;
}

.sectionReady .h2{
  font-family: var(--text-2-font);
  font-size: var(--text-2-mobile-size);
  font-weight: var(--text-2-weight);
  line-height: var(--text-2-line);
  letter-spacing: var(--text-2-spacing);
  color: var(--Neutral900);
  text-align: center;
}