/* -------------------- */
/* Mobile (base) - 375px */
/* -------------------- */
.aboutContainer {
    background-color: var(--Neutral100);
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.mainAbout {
    width: 100%;
    padding-top: var(--spacing-48);
    padding-left: var(--spacing-16);
    padding-right: var(--spacing-16);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-64);
}

.section1about,
.section2about,
.section3about,
.section4about{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--spacing-24);

}

.spanAbout{
  background-color: var(--Orange500);
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  border-radius: var(--radius-6);
  font-family: var(--text-5-font);
  font-size: var(--text-5-size);
  font-weight: var(--text-5-weight);
  line-height: var(--text-5-line);
  letter-spacing: var(--text-5-spacing);
  color: var(--Neutral900);
}

.h2{
  font-family: var(--text-2-font);
  font-size: var(--text-2-mobile-size);
  font-weight: var(--text-2-weight);
  line-height: var(--text-2-line);
  letter-spacing: var(--text-2-spacing);
  color: var(--Neutral900);
}

.h4{
  font-family: var(--text-4-font);
  font-size: var(--text-4-size);
  font-weight: var(--text-4-weight);
  line-height: var(--text-4-line);
  letter-spacing: var(--text-4-spacing);
  color: var(--Neutral900);
}

.p{
  font-family: var(--text-6-font);
  font-size: var(--text-6-size);
  font-weight: var(--text-6-weight);
  line-height: var(--text-6-line);
  letter-spacing: var(--text-6-spacing);
  color: var(--Neutral800);
}

.divPhotoAbout{
    width: 100%;
}

.photoAbout1,
.photoAbout2 {
    width: 100%;
    border-radius: var(--radius-10);
}

.sectionaboutcolumns{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.sectionaboutrows{
  display: flex;
  flex-direction: row;
  gap: var(--spacing-20);
}