/* -------------------- */
/* Mobile (base) - 375px */
/* -------------------- */
.homeContainer {
    background-color: var(--Neutral100);
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.mainHome {
    width: 100%;
    padding-top: var(--spacing-48);
    padding-left: var(--spacing-16);
    padding-right: var(--spacing-16);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-64);
}

.section1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-16);
}

.h1{
  font-family: var(--text-1-font);
  font-size: var(--text-1-mobile-size);
  font-weight: var(--text-1-weight);
  line-height: var(--text-1-line);
  letter-spacing: var(--text-1-spacing);
  color: var(--Neutral900);
}

.p{
  font-family: var(--text-6-font);
  font-size: var(--text-6-size);
  font-weight: var(--text-6-weight);
  line-height: var(--text-6-line);
  letter-spacing: var(--text-6-spacing);
  color: var(--Neutral800);
}

.imgPhotoSone{
  width: 100%;
  background-color: white;
  padding: var(--spacing-6);
  border-radius: var(--radius-8);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.imgPhotoSone .photo{
  width: 100%;
  position: relative;
  border-radius: var(--radius-4);
  z-index: 1;
}

.backgroundIcon{
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  z-index: 0;
}


.section2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-32);
}

.h2{
  font-family: var(--text-2-font);
  font-size: var(--text-2-mobile-size);
  font-weight: var(--text-2-weight);
  line-height: var(--text-2-line);
  letter-spacing: var(--text-2-spacing);
  color: var(--Neutral900);
}


.divSection2{
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  gap: var(--spacing-24);
}

.blockSection2{
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  gap: var(--spacing-10);
}

.divSection2 img{
  width: 3.75rem;
  height: 3.75rem;
  background-color: white;
  padding: var(--spacing-10);
  border-radius: var(--radius-12);
  border: solid 1px var(--Neutral200);
  box-shadow: 0px 1px 0px 0px var(--Neutral200);
}


.h3{
  font-family: var(--text-3-font);
  font-size: var(--text-3-size);
  font-weight: var(--text-3-weight);
  line-height: var(--text-3-line);
  letter-spacing: var(--text-3-spacing);
  color: var(--Neutral900);
}


.section3{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-20);
}

.imgPhotoSthree{
  width: 100%;
}


.imgPhotoSthree .photo2{
  width: 100%;
  border-radius: var(--radius-8);
}



/* -------------------- */
/* Tablet - 768px */
/* -------------------- */
@media (min-width: 768px) {
    .homeContainer {
        font-size: 18px;
        padding: var(--spacing-32);
    }
}

/* -------------------- */
/* Desktop - 1440px */
/* -------------------- */
@media (min-width: 1440px) {
    .homeContainer {
        font-size: 20px;
        padding: var(--spacing-64);
    }
}